.Page {
    text-align: center;
}

.Page .page-title {
    display: block;
    outline: none;
    border: none;
    font-size: 32px;
    font-weight: 300;
    letter-spacing: 0.8pt;
    text-align: center;
    width: 100%;
    margin: 0.67em 0;
    box-sizing: border-box;
}