.AddListItem {
    display: flex;
    align-items: center;
    width: 100%;
    padding: 8px 16px;
    opacity: 0.3;
    transition: all 0.2s ease-in;
    box-sizing: border-box;
}

.AddListItem.focus {
    opacity: 1.0;
}

.AddListItem input {
    flex: 1;
    font-size: 18px;
    margin-right: 4px;
}

.AddListItem input:focus {
    outline: none;
}